<div class="center jumbotron">
  <h1>Welcome to <%= competition_name %></h1>

	<div class="row">
	<%= link_to image_tag("labs-high-res.png", width: '80%', alt: "CyDefe Labs logo", 
												class: "center col-sm-12 col-md-6 col-md-offset-3"), 'http://mcpa-stl.org' %>
	</div>
  <h2>
    This is the home page for the CyDefe Labs Lessons score server. If you want to use our score sever to keep track of your progress become a <a href="https://www.patreon.com/CyDefe">patreon member.</a>
  </h2>

	<% if registration_active? %>
		<% if !logged_in? %>
  			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  		<% end %>
	<% else %>
		<% if competition_started? %>
			<h3>Registration closed!</h3>
		<% else %>
			<h3>Registration hasn't opened yet, check back soon!</h3>
		<% end %>
	<% end %>
</div>

