<footer class="footer">
  <small>
    <a href="https://github.com/mcpa-stlouis/hack-the-arch">HackTheArch</a>
    by <a href="http://mcpa-stl.org/">This score server was developed by The Military Cyber Professionals Association - St. Louis</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.patreon.com/CyDefe">Patreon Page</a></li>
      <li><a href="https://www.cydefe.com/lessons">Lessons</a></li>
    </ul>
  </nav>
</footer>
